@model Agencia.DTOs.DTOs.EnvioDTO.DTOMostrarEnvio

@{
    ViewData["Title"] = "Finalizar";
}

<h1>Finalizar</h1>

<h3>¿Quieres finalizar este envío?</h3>
<div>
    <h4>Envío: </h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NroTracking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NroTracking)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UltimoComentario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UltimoComentario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEntrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntregaEficiente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntregaEficiente)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Finalizar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
