@model IEnumerable<Agencia.DTOs.DTOs.EnvioDTO.DTOEnvio>

@{
	ViewData["Title"] = "Envíos";
}
@if (TempData["successMessage"] != null)
{
	<div class="alert alert-success">
		@TempData["successMessage"].ToString()
	</div>
}
@if (TempData["Mensaje"] != null)
{
	<div class="alert alert-danger">
		@TempData["Mensaje"].ToString()
	</div>
}
<h1>Envíos en proceso</h1>

<p>
	<a asp-action="Create">Agregar Envío</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.TipoEnvio)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.NumeroTracking)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.AgenciaOrigen)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.NombreCliente)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.NombreEmpleado)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Peso)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Estado)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Seguimiento)
			</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.TipoEnvio)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.NumeroTracking)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.AgenciaOrigen)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.NombreCliente)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.NombreEmpleado)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Peso)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Estado)
				</td>
				<td>
					@if (item.Seguimiento != null && item.Seguimiento.Any())
					{
						<ul>
							@foreach (var comentario in item.Seguimiento)
							{
								<li>@comentario.Descripcion</li>
							}
						</ul>
					}
					else
					{
						<span>Sin comentarios</span>
					}
				</td>

				<td>
					@Html.ActionLink("Finalizar", "Delete", new { Id = item.Id })
				</td>
				<td>
					@Html.ActionLink("Agregar seguimiento", "AgregarSeguimiento", new { idEnv = item.Id })
				</td>
			</tr>
		}
	</tbody>
</table>
