@model IEnumerable<Agencia.DTOs.DTOs.EnvioDTO.DTOEnvio>

@{
	ViewData["Title"] = "Envíos";
}

<h1>Envíos en proceso</h1>

<p>
	<a asp-action="Create">Agregar Envío</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.TipoEnvio)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.NumeroTracking)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.NombreCliente)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.NombreEmpleado)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Peso)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Estado)
			</th>
			<th>
				
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.TipoEnvio)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.NumeroTracking)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.NombreCliente)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.NombreEmpleado)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Peso)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Estado)
				</td>
				<td>
					@* @Html.ActionLink("Edit", "Edit", new { Id = item.Id }) *@
					@Html.ActionLink("Finalizar", "Delete", new { Id = item.Id })
					@Html.ActionLink("Agregar seguimiento", "AgregarSeguimiento", new {id = item.Id })
				</td>
			</tr>
		}
	</tbody>
</table>
