@model IEnumerable<Agencia.DTOs.DTOs.UsuarioDTO.DTOUsuario>

@{
	ViewData["Title"] = "Funcionarios";
}

<h1>Funcionarios</h1>

<p>
	<a asp-action="Create">Agregar Funcionario</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Email)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Nombre)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Apellido)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Rol)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Email)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Nombre)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Apellido)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Rol)
				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { Id = item.Id }) |
					@Html.ActionLink("Delete", "Delete", new { Id = item.Id })
				</td>
			</tr>
		}
	</tbody>
</table>
